<tr <%= even ? 'class="even"'.html_safe : '' %>>
  <td><%= session.id %></td>
  <td><%= session.session_title %></td>
  <td><%= session.description %></td>
  <td><%= session.location %></td>
  <td><%= session.echo_suppression? ? 'V' : 'X' %></td>
  <td><%= session.multiplexer? ? 'V' : 'X' %></td>
  <td><%= session.output_streams %></td>
  <td><%= session.switch_type == 0 ? 'timeout-based' : 'activity-based' %></td>
  <td><%= session.switch_timeout %> msec</td>
  <td><%= l session.created_at, :format => :timestamp %> </td>
  <td><%= link_to t("admin.sessions.edit"), edit_admin_session_path(session), :class => 'button pill' %></td>
  <td><%= link_to t("admin.sessions.clear_chat"), chat_cleanup_admin_session_path(session), :class => 'button pill negative' %></td>
  <td><%= link_to t("admin.sessions.delete"), admin_session_path(session), :confirm => t('admin.sessions.are_you_sure'), :method => :delete, :class => 'button pill negative' %> </td>
</tr>
