<!DOCTYPE html>
<html>
<head>
  <title>VideoChat</title>
  <%= stylesheet_link_tag 'styles' %>
  <%= javascript_include_tag 'jquery-1.4.3.min', 'rails', 'jquery-ui-1.8.4.custom.min', 'application' %>
  <%- if Rails.env.development? %>
      <script src="http://staging.tokbox.com/v0.91/js/TB.min.js" type="text/javascript" charset="utf-8"></script>
  <%- else %>
      <script src="http://static.opentok.com/v0.91/js/TB.min.js" type="text/javascript" charset="utf-8"></script>
  <%- end %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="chat-rooms">
  <div id="menu">
    <%= yield %>
  </div>
  <%- if @broadcaster %>
      <div id="myName">
        Name: <%= text_field_tag :name %>
      </div>
  <%- end %>
  <div id="myOwnCamera"></div>
</div>

<div id="content">
</div>
<div id="chat">
</div>
</body>
</html>
